*{
  box-sizing: border-box;
}

.App, #root {
  text-align: center;
}

body{
  background-color: black;
}

html, 
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#displacement {
  width:100%;
  height: 100vh;
  background: red;
}

#boom {
  width:100%;
  height: 100vh;
}
#euphoria {
  width:100%;
  height: 100vh;
  background-color: aqua;
}
#profit-taking {
  width:100%;
  height: 100vh;
}
#panic {
  width:100%;
  height: 100vh;
}


